# EditorConfig for HRMS project
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{java,xml}]
indent_style = space
indent_size = 4

[*.{jsp,html}]
indent_style = space
indent_size = 2
# Disable auto-format for JSP to prevent breaking EL expressions
max_line_length = off

[*.{js,css}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
